In [8]:
%pip install pandas

# The !pip command might be use for other environments and not Jupyter, i got an error when using that, however
#the %pip is Jupyter's own command for installing frameworks, and note it only bring pandas 2.2

In [12]:
#First Lab learning Pandas

import pandas as pd

In [9]:
print(pd.__version__)

2.2.0

In [15]:
with open('your_CSV.csv', 'w') as textwritefile:
    textwritefile.write('This is an Example csv\n')

In [17]:
#Read a CSV

df = pd.read_csv('your_CSV.csv')

In [21]:
#creating a series with pandas

data = [10, 20,30, 40, 50]
s= pd.Series(data)

data2 = ['yam', 'patoranking', 'Grease', 'Egg', 'Tomato', 'Greyhound', 'Mary', 10, 20, 30,40]
y = pd.Series(data2)

print (s)
print (y)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0             yam
1     patoranking
2          Grease
3             Egg
4          Tomato
5       Greyhound
6            Mary
7              10
8              20
9              30
10             40
dtype: object

In [7]:
print (s[4])

50

In [24]:
print(y[6])

Mary

In [19]:
print (s.iloc[3])

40

In [26]:
print (s[1:4])

1    20
2    30
3    40
dtype: int64

In [29]:
# Creating a Data Frame

data = { 'Name' : ['Alex', 'Chima', 'Essien', 'Vwebga'], 'Age' : [22, 30, 25, 14], 'City' : ['Portharcourt', 'Minnesota', 'PHC', 'Lagos'], 'Gender': ['Male', 'Man', 'Malish', 'Man to be']}
df = pd.DataFrame(data)

print (df)

     Name  Age          City     Gender
0    Alex   22  Portharcourt       Male
1   Chima   30     Minnesota        Man
2  Essien   25           PHC     Malish
3  Vwebga   14         Lagos  Man to be

In [38]:
print (df[['Name']])

     Name
0    Alex
1   Chima
2  Essien
3  Vwebga

In [39]:
print (df[['Name', 'Age', 'Gender']])

     Name  Age     Gender
0    Alex   22       Male
1   Chima   30        Man
2  Essien   25     Malish
3  Vwebga   14  Man to be

In [43]:
print (df.iloc[0])

Name              Alex
Age                 22
City      Portharcourt
Gender            Male
Name: 0, dtype: object

In [42]:
print(df.loc[0])

Name              Alex
Age                 22
City      Portharcourt
Gender            Male
Name: 0, dtype: object

In [48]:
print (df[['Name', 'Age']])

     Name  Age
0    Alex   22
1   Chima   30
2  Essien   25
3  Vwebga   14

In [49]:
print (df [0:2])

    Name  Age          City Gender
0   Alex   22  Portharcourt   Male
1  Chima   30     Minnesota    Man

In [33]:
#Usimg the unique() function in pandas to sort out unique elements

Unique_Date = df['Name'].unique()

print (Unique_Date)

['Alex' 'Chima' 'Essien' 'Vwebga']

In [34]:
#Using conditional filtering in Pandas

high_above_25 = df[df['Age'] > 25]

print (high_above_25)

    Name  Age       City Gender
1  Chima   30  Minnesota    Man

In [35]:
below_Age_25 = df[df['Age'] <= 25]

print (below_Age_25)

     Name  Age          City     Gender
0    Alex   22  Portharcourt       Male
2  Essien   25           PHC     Malish
3  Vwebga   14         Lagos  Man to be

In [40]:
#Saving a DataFrame

df.to_csv('tradingdata.csv', index=False )

In [41]:
df.size

16

In [45]:
df.info('Age')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Gender  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 152.0+ bytes

In [ ]:
print (df.